.container-register {
    width: 450px;
    background-color: rgb(0,0,0, 0.4);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px 5px rgba(0, 0, 0, 0.5);
    
  }
 
  .container-register h1{
 
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    
    }
 
    .container-register .icons-register{
 
   
   position: relative;
   font-size: 40px;
   text-align: center;
   height: 50px;
   margin: 10px 10px;
   display: flex;
   justify-content: center;
  
    }
 
    .icons-register a{
  
    
    text-decoration: none;
    color: #104283;
      }
 

 
    
 
   
 
   
 
     
 
       