* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
}

.App{

display: flex;   
justify-content: center;
align-items: center;
min-height: 100vh;
background-image: url("assets/img/floresta.jpg");
background-size: cover;
background-position: center;
}